<div id="editLayoutSettingsModalID" class="layoutModal">
	<div class="layoutModal-content">
		<span class="close" onclick="layoutSettingsModal.closeModal()">&times;</span>
		<h2>Edit Layout Settings</h2>
		<div>
			<form name="searchUser" ng-submit="loadDataInTables()">
				<div>Column 1:
					<input type="search" required="" placeholder="Enter a username to fetch twitter tweets" ng-model="$storage.layoutSettings.tableUser[0]"
					/> </div>
				<div>Column 2:
					<input type="search" required="" placeholder="Enter a username to fetch twitter tweets" ng-model="$storage.layoutSettings.tableUser[1]"
					/> </div>
				<div>Column 3:
					<input type="search" required="" placeholder="Enter a username to fetch twitter tweets" ng-model="$storage.layoutSettings.tableUser[2]"
					/> </div>
				<div> # of Latest Tweets:
					<input type="search" required="" placeholder="number of tweets to fetch" ng-model="$storage.layoutSettings.numberOfTweets"
					/> </div>
				<input type="submit" value="Save Local Settings and Fetch Data!" />
			</form>
		</div>
	</div>
</div>