<div id="retweetModalID" class="modal">
	<div class="modal-content">
		<span class="close" onclick="retweetModal.closeModal()">&times;</span>
		<h2>Retweeters</h2>
		{{retweetMessage}}
		<ul>
			<li ng-repeat="retweet in retweets">
				<b>{{retweet.user.name}}</b> using ScreenName
				<b>{{retweet.user.screen_name}}</b>
			</li>
		</ul>
	</div>
</div>