<td>
	<div>Content: {{tweet.text}} </div>
	<div>Date: {{tweet.created_at | date: 'medium'}} </div>
	<div>
		<a href="https://twitter.com/i/web/status/{{tweet.id_str}}">A link to the tweet </a>
	</div>

	<div>
		Retweets: ({{tweet.retweet_count}})
		<button ng-click="search(tweet.id_str)" ng-show="tweet.retweet_count">Check who retweeted! </button>
	</div>
	<div>
		User Mentions: ({{tweet.entities.user_mentions.length}})
		<ul>
			<li ng-repeat="child in tweet.entities.user_mentions"> {{child.name}} from screen name {{child.screen_name}} </li>
		</ul>
	</div>
</td>