<button onclick="layoutSettingsModal.openModal();" class="button">Edit Layout</button>
<button ng-click="clearStorage()" class="button">Reset Settings</button>

<div>Status: {{displayMessage}}</div>
<div>
  <table class="tweetTable">
    <thead>
      <tr>
        <th>{{$storage.layoutSettings.tableUser[0]}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tweet in tweets " ng-include="'twitterTableData.html'">
      </tr>
    </tbody>
  </table>
  <table class="tweetTable">
    <thead>
      <tr>
        <th>{{$storage.layoutSettings.tableUser[1]}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tweet in tweets2 " ng-include="'twitterTableData.html'">
      </tr>
    </tbody>
  </table>
  <table class="tweetTable">
    <thead>
      <tr>
        <th>{{$storage.layoutSettings.tableUser[2]}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tweet in tweets3 " ng-include="'twitterTableData.html'">
      </tr>
    </tbody>
  </table>
</div>

<div ng-include="'layoutSettingsModal.html'"></div>
<div ng-include="'retweetModal.html'"></div>